<!DOCTYPE html>
<html>
<head>

<meta name='keywords' content='WebRTC, HTML5, JavaScript' />
<meta name='description' content='WebRTC Reference App' />
<meta name='viewport' content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1'>

<base target='_blank'>

<title>WebRTC client</title>

<link rel='stylesheet' href='../css/sign_audience.css' />

</head>

<body background="../images/background2.jpg">
<div id="wrapper" style="position:relative">
<div id="top" style="width:100%; height:15%; ">
    <img src="../images/logo.png" style="padding:15px 15px"/>
</div>
<div id="menu_bar" style="width:100%; height:5%; text-align:center">
    <button type="button" class="menu_button" style="width:23%;display:inline-block">SIGN UP</button>
    <button type="button" class="menu_button" style="width:23%;display:inline-block">SIGN IN</button>
    <button type="button" class="menu_button" style="width:23%;display:inline-block">ABOUT US</button>
    <button type="button" class="menu_button" style="width:23%;display:inline-block">HELP</button>
</div>
<div id='videos' style="visibility: hidden">
	<video id='localVideo' autoplay muted></video>
	<video id='remoteVideo' autoplay muted></video>
</div>
<div id="url">
	<!-- Link will be appened by jquery -->
</div>
<center><button onclick="copyToClipboard('#link')" id="copy_link_button">COPY LINK</button></center>
<center style="color:#ffffff">Your Name<center>
<input type="text" id="name" style="width:80%; padding:0px">
<center style="color:#ffffff;padding-top:20px">Comment<center>
<input type="text" id="comment" style="width:80%; padding:20px 0px">
<div id="join_button" style="padding:60px">
<input type="image" id='join' onclick="$.getScript('js/audience.js'); $(this).hide(); $('#not_granted').show();"
			src="../images/join_button.png" />
<input type="image" id='not_granted' src="../images/not_granted.png"/>
</div>
</div>

<script src='//code.jquery.com/jquery-1.11.3.min.js'></script>
<script src='/socket.io/socket.io.js'></script>
<script src='js/lib/adapter.js'></script>
<script src='js/jsAudience.js'></script>

</body>
</html>
